**/.git
**/README.md
**/LICENSE
**/.vscode
**/npm-debug.log
**/coverage
**/.editorconfig
**/.aws
**/example.env
**/tsconfig.json
**/tslint.json
**/server.ts
**/scripts
**/appspec.yml
**/backend_pw.sh
**/backenddev_pw.sh
**/backendstg_pw.sh